[Unit]
Description=SMEG Feed Service
#After=myusbgadget.service network-online.target
#Wants=network.target
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/feed_storage.sh
User=nico
 
[Install]
WantedBy=multi-user.target
