[Unit]
Description=SMEG Feed Service
Wants=network-online.target
#After=myusbgadget.service network-online.target
After=network-online.target
 
[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/local/bin/feed_storage.sh
User=nico
 
[Install]
WantedBy=network-online.target
